python-dotenv  # For reading environment variables stored in .env file

# LangChain core & community packages (matching versions)
langchain
langchain-core
langchain-community
langchain-experimental
langchain-openai  # For embeddings
langchain-text-splitters
langchain-chroma

# Document processing
unstructured  # Document loading

# Vector storage
chromadb

# LLM / embeddings
openai
tiktoken

# Install libmagic to aid DirectoryLoader
python-magic-bin

# Notes:
# install markdown dependencies with:
# pip install "unstructured[md]"